.forbidden-lands .party {
    height: 100%;
    width: 100%;
}

.party .tab-hint {
    font-style: italic;
    text-align: center;
}

.party-member .party-member-avatar {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
}

.party-member .party-member-name {
    line-height: 48px;
}

.party-member .button {
    flex: 0 0 24px;
    width: 24px;
    height: 48px;
    line-height: 48px;
}

.party-member .entity-link {
    margin-right: 4px;
    line-height: 44px;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

table.travel-actions {
    border: 1px solid;
    border-spacing: 0px;
    border-collapse: separate;
}

table.travel-actions td{
    border: 1px solid;
    padding: 2px;
    vertical-align: top;
    height: 1px;
}

.travel-action {
    min-width: 179px;
    min-height: 90px;
    height: 100%;

    flex-grow: 1;
}

.travel-action ol {
    padding-left: 4px;
}

.travel-action .travel-action-header {
    margin: 2px 2px 0 2px;
    text-align: center;
    font-weight: bold;
    max-height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.travel-action .travel-action-help {
    border: 1px solid;
    border-radius: 6px;
    background-color: cadetblue;
    display: flex;
    width: 20px;
    margin-left: 4px;
    justify-content: center;
}
.travel-action .travel-action-help:hover {
    background-color: cyan;
}

.travel-action button.travel-roll {
    font-size: 12px;
    display: block;
    border: 2px groove;
    width: 99%;
}