.forbidden-lands .party {
    height: 100%;
    width: 100%;
}

.forbidden-lands .party .bio .avatar {
    flex: 0 0 auto;
}

.forbidden-lands .party .bio .avatar img {
    border: 1px dashed black;
    border-radius: 10px;
}

.forbidden-lands .party .bio .name {
    flex: 0 0 auto;
    width: 250px;
}

.forbidden-lands .party .bio .kin {
    flex: 0 0 auto;
    width: 250px;
}

.forbidden-lands .party .bio .profession {
    flex: 0 0 auto;
    width: 250px;
}

.forbidden-lands .party .bio .age {
    flex: 0 0 auto;
    width: 100px;
}

.forbidden-lands .party .bio .reputation {
    flex: 0 0 auto;
    width: 100px;
}

.forbidden-lands .party .bio .willpower {
    flex: 0 0 auto;
    width: 100px;
}

.forbidden-lands .party .bio .experience {
    flex: 0 0 auto;
    width: 100px;
}

.forbidden-lands .party .roll {
    background-color: lightslategrey;
}

.forbidden-lands .party .roll:hover {
    box-shadow: 0 0 10px darkolivegreen;
    text-shadow: 0 0 10px darkolivegreen;
}

.forbidden-lands .party .push {
    background-color: lightslategrey;
}

.forbidden-lands .party .push:hover {
    box-shadow: 0 0 10px darkolivegreen;
    text-shadow: 0 0 10px darkolivegreen;
}

.party-member .party-member-avatar {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
}

.party-member .party-member-name {
    line-height: 48px;
}

.party-member .button {
    flex: 0 0 24px;
    width: 24px;
    height: 48px;
    line-height: 48px;
}

.party-member .entity-link {
    margin-right: 4px;
    line-height: 44px;
}

.travel-action {
    border: 1px solid;
    min-width: 140px;
    min-height: 90px;

    flex-grow: 1;
}

.travel-action ol {
    padding-left: 4px;
}

.travel-action .travel-action-header {
    margin: 2px 2px 0 2px;
    text-align: center;
    font-weight: bold;
    max-height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.travel-action .travel-action-help {
    border: 1px solid;
    border-radius: 6px;
    background-color: cadetblue;
    display: flex;
    width: 20px;
    margin-left: 4px;
    justify-content: center;
}
.travel-action .travel-action-help:hover {
    background-color: cyan;
}